@charset "UTF-8";
/* CSS Document */

body {
	background:url(../../images/body_bg_green.png) repeat-x #eee;
}
a {
	color:#090;
}
a:focus, a:hover {
	color:#6C0;
}
#header {
	background:url(../../images/header_bg_green.jpg) no-repeat;
}

.categories-list li .item-title, .cat-children .item-title {
	border-left:3px solid #090;
	border-bottom:2px solid #090;
}
.readmore {
	border-left:3px solid #090;
}